@import url("components/banner.css");
@import url("components/container.css");

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.content-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.025);
}

.resume-name {
  color: #729290;
  font-size: 2.75rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
}

.resume-tagline {
  font-size: 1.25rem;
  font-weight: 300;
}

.resume-contact {
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 0.85rem;
}

.resume-profile-image {
  max-width: 125px;
}

.resume-project-image {
  max-width: 250px;
}

.resume-intro {
  font-size: 0.85rem;
}

.resume-section-heading {
  color: #729290;
  font-size: 1.125rem;
  letter-spacing: 0.15rem;
}

.resume-aside {
  border-left: 1px solid rgba(0, 0, 0, 0.08);
}

.item {
  font-size: 0.85rem;
}

.item-title {
  font-size: 1rem;
}

@media (max-width: 991.98px) {
  .resume-aside {
    border-left: 0px;
  }
}

@media (max-width: 767.98px) {
  .resume-contact {
    border-left: 0px;
  }
}
